@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body, html {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
  background-color: #353432;
}
body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.container {
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  font-size: xx-large;
}

.icon-cart {
  position: relative;
}
.icon-cart:hover {
  cursor: pointer;
}
.icon-cart span {
  position: absolute;
  background-color: #f00;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 50%;
  right: -15px;
}
.icon-cart i {
  font-size: 30px;
}

.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}
.listProduct .item h2 {
  font-weight: 500;
}
.listProduct .item .price {
  letter-spacing: 2px;
  font-weight: bold;
}
.listProduct .item img {
  width: 90%;
  filter: drop-shadow(0 30px 30px #000);
}
.listProduct .item button.addCart {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  background-color: #353432;
  color: #eee;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
}
.listProduct .item button.addCart:active {
  transform: scale(0.95);
}

.listCart {
  overflow: auto;
}
.listCart .item {
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .item:nth-child(even) {
  background-color: rgba(238, 238, 238, 0.0666666667);
}
.listCart .item img {
  width: 100%;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  color: #555;
  cursor: pointer;
  border-radius: 50%;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
  cursor: auto;
}

.listCart::-webkit-scrollbar {
  width: 0;
}

.cartTab {
  display: grid;
  grid-template-rows: 70px 1fr 30px 60px;
  position: fixed;
  width: 400px;
  background-color: #353432;
  color: #eee;
  right: -400px;
  top: 0;
  bottom: 0;
  transform: translateX(400px);
  transition: transform 0.3s ease;
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .totalCount {
  line-height: 30px;
  border-top: 0.5px solid #eee;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cartTab .btn button {
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.cartTab .btn button:active {
  transform: scale(0.95);
}
.cartTab .btn .close {
  background-color: #eee;
}
.cartTab .btn .removeAll {
  background-color: #aaa;
}
.cartTab .btn .checkout {
  background-color: #e8bc0e;
}

.cartTab {
  right: 0;
}

.showCart .cartTab {
  transform: translateX(0px);
}

.checkout-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dfdfdf;
  padding: 20px;
}
.checkout-container .checkoutLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}
.checkout-container .checkoutLayout .returnCart a {
  font-size: xx-large;
  position: fixed;
  top: 20px;
  right: 20px;
  color: #000;
}
.checkout-container .checkoutLayout .returnCart a:hover {
  cursor: pointer;
}
.checkout-container .checkoutLayout .returnCart h1 {
  padding: 20px 0;
  text-decoration: underline;
}
.checkout-container .checkoutLayout .returnCart p {
  font-size: x-large;
  color: #222;
}
.checkout-container .checkoutLayout .returnCart .list {
  border-radius: 20px;
  overflow-y: auto;
  max-height: 500px;
}
.checkout-container .checkoutLayout .returnCart .list .item {
  display: grid;
  grid-template-columns: 80px 1fr 50px 80px;
  align-items: center;
  border-bottom: 2px solid #eee;
  gap: 10px;
  padding: 0 10px;
}
.checkout-container .checkoutLayout .returnCart .list .item .name, .checkout-container .checkoutLayout .returnCart .list .item .returnPrice {
  font-weight: bold;
  font-size: x-large;
}
.checkout-container .checkoutLayout .returnCart .list .item img {
  height: 80px;
}
.checkout-container .checkoutLayout .rightSide {
  height: clamp(500px, 100%, 90vh);
  background-color: #5358b3;
  border-radius: 20px;
  padding: 40px;
  color: #fff;
}
.checkout-container .checkoutLayout .rightSide .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-radius: 1px solid #7a7fe2;
  padding-bottom: 20px;
}
.checkout-container .checkoutLayout .rightSide .form .group:nth-child(-n+4) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.checkout-container .checkoutLayout .rightSide .form label {
  font-size: large;
}
.checkout-container .checkoutLayout .rightSide .form input, .checkout-container .checkoutLayout .rightSide .form select, .checkout-container .checkoutLayout .rightSide .form textarea {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  background-color: #6a6fc9;
  color: #fff;
}
.checkout-container .checkoutLayout .return {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-top: 1px solid #fff;
}
.checkout-container .checkoutLayout .return .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;
}
.checkout-container .checkoutLayout .return .row .title {
  font-size: large;
}
.checkout-container .checkoutLayout .return .row .totalQuantity, .checkout-container .checkoutLayout .return .row .totalPrice {
  font-weight: bold;
  font-size: x-large;
}
.checkout-container .checkoutLayout .buttonCheckout {
  border: none;
  font-weight: bolder;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #49d8d9;
}
.checkout-container .checkoutLayout .buttonCheckout:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 992px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .listProduct {
    grid-template-columns: repeat(2, 1fr);
  }
}